<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programmersbyte.politicalaction">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllCongressmenActivity"
            android:label="@string/all_congressmen_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programmersbyte.politicalaction.MainActivity"></meta-data>
        </activity>
        <activity
            android:name=".AllSenatorsActivity"
            android:label="@string/all_senators_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programmersbyte.politicalaction.MainActivity"></meta-data>
        </activity>
        <activity
            android:name=".SearchCongressActivity"
            android:label="@string/search_congress_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programmersbyte.politicalaction.MainActivity"></meta-data>
        </activity>
        <activity android:name=".SearchResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programmersbyte.politicalaction.SearchCongressActivity"></meta-data>
        </activity>
    </application>

</manifest>